.container{
    display: block;
    width: 100%;
    padding-top: 10%;
}
.header{
    text-align: center;
    color: #6264a7;
    font-size: 36px;
    font-weight: 400;
}
.wrapper{
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    padding: 44px;
    max-width: 440px;
    width: 100%;
    margin: 0 auto;
}
.login_header{
    font-size: 21px;
    font-weight: 600;
}
.login__form_input{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.6);
    padding: 6px 10px;
    padding-left: 0;
    margin-bottom: 20px;
    font-size: 15px;
    outline: none;
}
.login__form_registration{
    font-size: 13px;
}
.login__form_registration a{
    color: #0067b8;
    text-decoration: none;
}
.login__form_registration a:hover{
    color: #000000;
    text-decoration: underline;
}
.login__form_input:focus{
    border-color: #0067b8;
}
.login__form__buttons{
    margin-top: 20px;
    text-align: right;
}